.project-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./background.jpg");

  background-repeat: none;
}
.content-wrapper {
  display: flex;
  flex-grow: 1;
}
.main-content {
  flex-grow: 1;

}
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 1% 0%;
  padding: 12px 8px;
  font-size: 20px;
  line-height: 20px;
  color: black;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
}
